:::::::::::::::::::::::::::::::::::::::::::::::::::: {#mainBodyContent role="main" tabindex="-1"}
::::::::::::::::::::::::::::::::::::::::::::::::::: gd
:::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__i .section .ptop--96 .c12 style=" --cspan:12; --rspan:1; --cstart:1;"}
:::::::::::::::::::::::::::::::::::::::::::::::: {.section .gd__s}
::::::::::::::::::::::::::::::::::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::::::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::: {.gd__i .section .c3 .t-hide style=" --cspan:3; --rspan:1; --cstart:auto;"}
- [Loqate Basics](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Start Here](/developers/getting-started/)
  - [Ways To Integrate](/developers/getting-started/ways-to-integrate/)
  - [Creating API Keys](/developers/getting-started/creating-api-keys/)
  - [List Of Endpoints](/developers/getting-started/list-of-endpoints/)
  - [API Security](/developers/getting-started/api-security/)
  - [Monitoring Account
    Usage](/developers/getting-started/monitoring-account-usage/)
  :::
- [Product support](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/address-capture/)
  - [Address Verify](/developers/address-verify/)
  - [Store Finder](/developers/store-finder/)
  - [Email Validation](/developers/email-validation/)
  - [Phone Validation](/developers/phone-verification/)
  - [Bank Validation](/developers/bank-verification/)
  - [Geocode](/developers/geocode/)
  - [Matchcode (legacy)](/developers/matchcode/)
  :::
- [Guides](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: {.dd .nav__side-menu}
  - [Address, Email and Phone Validation](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Quick setup guide -- Address, Email and Phone
      Validation](/developers/guides/quick/)
    - [Advanced Setup Guide](/developers/guides/advanced-setup-guide/)
    - [Address Capture Integration Best
      Practice](/developers/guides/address-capture-integration-best-practice/)
    - [Enabling new Capture
      features](/developers/guides/enabling-new-capture-features/)
    - [SaaS Platform: Setting up a new
      service](/developers/guides/saas-platform-setting-up/)
    - [SaaS Platform: Integration
      options](/developers/guides/saas-platform-integration-options/)
    - [SaaS Platform: SDK](/developers/guides/saas-platform-sdk/)
    - [The Loqate Saas
      Platform](/developers/guides/the-loqate-saas-platform/)
    :::
  - [Data Maintenance](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Data Maintenance - Post
      Processing](/developers/guides/data-maintenance-post-processing/)
    :::
  - [Data Sets](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Consuming Premium Data
      Sets](/developers/guides/consuming-premium-data-sets/)
    - [Property Intelligence User
      Guide](/developers/guides/property-intelligence-user-guide/)
    - [Property Intelligence Data
      Directory](/developers/guides/property-intelligence-data-directory/)
    :::
  - [Integrations by platform](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Adobe Commerce
      (Magento)](/developers/guides/adobe-commerce-magento-integration-guide/)
    - [BigCommerce](/developers/guides/bigcommerce/)
    - [commercetools](/developers/guides/commercetools-integration/)
    - [Microsoft Dynamics
      365](/developers/guides/loqate-for-microsoft-dynamics-365/)
    - [Shopify
      Plus](/developers/guides/the-loqate-shopify-integration-guide/)
    - [Shopware
      6](/developers/guides/loqate-plugin-for-shopware-6-configuration-guide/)
    :::
  - [Store Finder](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [How Does a Store Finder
      Work?](/developers/guides/how-does-a-store-finder-work/)
    - [Creating and Managing Location
      Lists](/developers/guides/creating-and-managing-location-lists/)
    - [How To Implement a Store
      Finder](/developers/guides/how-to-implement-a-store-finder/)
    - [Setting Up Store Finder
      Keys](/developers/guides/setting-up-store-finder-keys/)
    :::
  - [Utilities Register](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Loqate Utilities Register
      2.0](/developers/guides/loqate-utilities-register/)
    :::
  :::
- [APIs](/developers/api/){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/api/capture/)
  - [Address Verify](/developers/api/cleanseplus/)
  - [Store Finder](/developers/apis/location-services/)
  - [Email Validation](/developers/api/emailvalidation/)
  - [Phone Validation](/developers/api/phonenumbervalidation/)
  - [Bank Validation](/developers/api/bankaccountvalidation/)
  - [Geocode](/developers/api/distancesanddirections/)
  - [Generic Errors](/developers/api/generic-errors/)
  :::
- [Sandbox](/developers/sandbox/)
- [FAQs](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: dd
  - [Address Capture](/developers/faqs/Address-Capture)
  - [Address Verification](/developers/faqs/Address-Verification)
  - [Bank Account
    Verification](/developers/faqs/Bank-Account-Verification)
  - [Common account errors](/developers/faqs/Common-account-errors)
  - [Data Maintenance Annual
    Subscription](/developers/faqs/Data-Maintenance-Annual-Subscription)
  - [Email Verification](/developers/faqs/Email-Verification)
  - [General](/developers/faqs/General)
  - [Geocoding](/developers/faqs/Geocoding)
  - [Geolocation](/developers/faqs/Geolocation)
  - [Phone Verification](/developers/faqs/Phone-Verification)
  - [Technical](/developers/faqs/Technical)
  :::
:::

:::::::::::::::::::::::::::::::::::::::::::: {.gd__i .section .c9 style=" --cspan:9; --rspan:1; --cstart:auto;"}
::::::::::::::::::::::::::::::::::::::::::: gd
:::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::::::: {.gd__i .section .gd--cen .pbtm--32 .c12 style="--cspan:12;--rspan:1;--cstart:1;"}
:::::: {.section .gd__s}
::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c12 style="--cspan:12;--rspan:1;--cstart:1;"}
Product support

# Bank Validation

Our Bank Validation service lets you query whether UK account number &
sort code combinations are valid, or check IBANs for most European
countries. Available via our API, you can find all you need to know
about using the service here.
:::
::::
:::::
::::::
:::::::

:::::::::::::::::::::: {.gd__i .section .full-width .ptop--64 .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
::::::::::::::::::::: {.section .gd__s}
:::::::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
::::::::::::::::::: {.gd__c style="--cols:12"}
:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/en-gb/demos/bank/){.tile-item__link aria-label="Demo"}

:::: tile__content
::: h--xs
Demo
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/en-gb/integrations/){.tile-item__link aria-label="Integrations"}

:::: tile__content
::: h--xs
Integrations
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/developers/api/bankaccountvalidation/){.tile-item__link
aria-label="APIs"}

:::: tile__content
::: h--xs
APIs
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/developers/sandbox/){.tile-item__link aria-label="Sandbox"}

:::: tile__content
::: h--xs
Sandbox
:::
::::
:::::
::::::
:::::::::::::::::::
::::::::::::::::::::
:::::::::::::::::::::
::::::::::::::::::::::

::::::: {.gd__i .section .ptop--64 .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
:::::: {.section .gd__s}
::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
### Frequently asked questions
:::
::::
:::::
::::::
:::::::

::::::::::: {.gd__i .section .full-width .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
:::::::::: {.section .gd__s}
::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::::::: {.gd__c style="--cols:12"}
::::::: {.gd__i .faqlist .bg-midnight-100 .v-align--centre .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
Is Bank Validation available worldwide?

::: content
Most of the Bank Validation services are UK-only, however we do provide
an International service which covers EMEA. You can find out more about
the International service in [its API
documentation](https://www.loqate.com/developers/api/InternationalBankValidation/Interactive/Validate/1/){.external-link
rel="noopener" target="_blank"}.
:::

Why does the address listed for this branch not match its physical
location?

::: content
[Many banks use a central processing depot for their BACS and
other transactions. Therefore a BACS check on a specific sort code may
return the bank\'s central depot rather than the specific branch
address.]{.inline-comment-marker
ref="2ab4f256-db4f-41cb-b434-258baa806b8f"}
:::

Will Bank Validation return information on the account holder?

:::: content
::: {#main-content .wiki-content}
[No, we do not hold any information on individual
accounts.]{.inline-comment-marker
ref="dca0822e-32cc-42db-9fd0-7aac77c36a0f"}

When you make a Bank Validation request, you will only ever receive
information back regarding the sort code, with confirmation of whether
the account number matches that sort code.
:::
::::
:::::::
::::::::
:::::::::
::::::::::
:::::::::::
::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::
