:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {#mainBodyContent role="main" tabindex="-1"}
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: gd
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__i .section .ptop--96 .c12 style=" --cspan:12; --rspan:1; --cstart:1;"}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.section .gd__s}
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::: {.gd__i .section .c3 .t-hide style=" --cspan:3; --rspan:1; --cstart:auto;"}
- [Loqate Basics](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Start Here](/developers/getting-started/)
  - [Ways To Integrate](/developers/getting-started/ways-to-integrate/)
  - [Creating API Keys](/developers/getting-started/creating-api-keys/)
  - [List Of Endpoints](/developers/getting-started/list-of-endpoints/)
  - [API Security](/developers/getting-started/api-security/)
  - [Monitoring Account
    Usage](/developers/getting-started/monitoring-account-usage/)
  :::
- [Product support](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/address-capture/)
  - [Address Verify](/developers/address-verify/)
  - [Store Finder](/developers/store-finder/)
  - [Email Validation](/developers/email-validation/)
  - [Phone Validation](/developers/phone-verification/)
  - [Bank Validation](/developers/bank-verification/)
  - [Geocode](/developers/geocode/)
  - [Matchcode (legacy)](/developers/matchcode/)
  :::
- [Guides](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: {.dd .nav__side-menu}
  - [Address, Email and Phone Validation](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Quick setup guide -- Address, Email and Phone
      Validation](/developers/guides/quick/)
    - [Advanced Setup Guide](/developers/guides/advanced-setup-guide/)
    - [Address Capture Integration Best
      Practice](/developers/guides/address-capture-integration-best-practice/)
    - [Enabling new Capture
      features](/developers/guides/enabling-new-capture-features/)
    - [SaaS Platform: Setting up a new
      service](/developers/guides/saas-platform-setting-up/)
    - [SaaS Platform: Integration
      options](/developers/guides/saas-platform-integration-options/)
    - [SaaS Platform: SDK](/developers/guides/saas-platform-sdk/)
    - [The Loqate Saas
      Platform](/developers/guides/the-loqate-saas-platform/)
    :::
  - [Data Maintenance](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Data Maintenance - Post
      Processing](/developers/guides/data-maintenance-post-processing/)
    :::
  - [Data Sets](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Consuming Premium Data
      Sets](/developers/guides/consuming-premium-data-sets/)
    - [Property Intelligence User
      Guide](/developers/guides/property-intelligence-user-guide/)
    - [Property Intelligence Data
      Directory](/developers/guides/property-intelligence-data-directory/)
    :::
  - [Integrations by platform](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Adobe Commerce
      (Magento)](/developers/guides/adobe-commerce-magento-integration-guide/)
    - [BigCommerce](/developers/guides/bigcommerce/)
    - [commercetools](/developers/guides/commercetools-integration/)
    - [Microsoft Dynamics
      365](/developers/guides/loqate-for-microsoft-dynamics-365/)
    - [Shopify
      Plus](/developers/guides/the-loqate-shopify-integration-guide/)
    - [Shopware
      6](/developers/guides/loqate-plugin-for-shopware-6-configuration-guide/)
    :::
  - [Store Finder](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [How Does a Store Finder
      Work?](/developers/guides/how-does-a-store-finder-work/)
    - [Creating and Managing Location
      Lists](/developers/guides/creating-and-managing-location-lists/)
    - [How To Implement a Store
      Finder](/developers/guides/how-to-implement-a-store-finder/)
    - [Setting Up Store Finder
      Keys](/developers/guides/setting-up-store-finder-keys/)
    :::
  - [Utilities Register](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Loqate Utilities Register
      2.0](/developers/guides/loqate-utilities-register/)
    :::
  :::
- [APIs](/developers/api/){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/api/capture/)
  - [Address Verify](/developers/api/cleanseplus/)
  - [Store Finder](/developers/apis/location-services/)
  - [Email Validation](/developers/api/emailvalidation/)
  - [Phone Validation](/developers/api/phonenumbervalidation/)
  - [Bank Validation](/developers/api/bankaccountvalidation/)
  - [Geocode](/developers/api/distancesanddirections/)
  - [Generic Errors](/developers/api/generic-errors/)
  :::
- [Sandbox](/developers/sandbox/)
- [FAQs](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: dd
  - [Address Capture](/developers/faqs/Address-Capture)
  - [Address Verification](/developers/faqs/Address-Verification)
  - [Bank Account
    Verification](/developers/faqs/Bank-Account-Verification)
  - [Common account errors](/developers/faqs/Common-account-errors)
  - [Data Maintenance Annual
    Subscription](/developers/faqs/Data-Maintenance-Annual-Subscription)
  - [Email Verification](/developers/faqs/Email-Verification)
  - [General](/developers/faqs/General)
  - [Geocoding](/developers/faqs/Geocoding)
  - [Geolocation](/developers/faqs/Geolocation)
  - [Phone Verification](/developers/faqs/Phone-Verification)
  - [Technical](/developers/faqs/Technical)
  :::
:::

:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__i .section .c9 style=" --cspan:9; --rspan:1; --cstart:auto;"}
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: gd
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::::::: {.gd__i .section .gd--cen .pbtm--32 .c12 style="--cspan:12;--rspan:1;--cstart:1;"}
:::::: {.section .gd__s}
::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c12 style="--cspan:12;--rspan:1;--cstart:1;"}
Product support

# Phone Validation

Our Phone Validation can be used with our simple tag install or via our
API for more control - whichever suits you best. However you\'d like to
use it, you can find answers to your questions here.
:::
::::
:::::
::::::
:::::::

:::::::::::::::::::::: {.gd__i .section .full-width .ptop--64 .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
::::::::::::::::::::: {.section .gd__s}
:::::::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
::::::::::::::::::: {.gd__c style="--cols:12"}
:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/developers/guides/address-email-and-phone-verification/){.tile-item__link
aria-label="Guides"}

:::: tile__content
::: h--xs
Guides
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/developers/api/phonenumbervalidation/){.tile-item__link
aria-label="APIs"}

:::: tile__content
::: h--xs
APIs
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/en-gb/demos/phone-validation/){.tile-item__link aria-label="Demo"}

:::: tile__content
::: h--xs
Demo
:::
::::
:::::
::::::

:::::: {.gd__i .tile .c6 style="--cspan:6;--rspan:1;--cstart:auto;"}
::::: {.tile-item .tile-item--haslink .bg-midnight-100 .tile-item--w-arrow}
[](/developers/sandbox/){.tile-item__link aria-label="Sandbox"}

:::: tile__content
::: h--xs
Sandbox
:::
::::
:::::
::::::
:::::::::::::::::::
::::::::::::::::::::
:::::::::::::::::::::
::::::::::::::::::::::

::::::: {.gd__i .section .ptop--64 .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
:::::: {.section .gd__s}
::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
### Frequently asked questions
:::
::::
:::::
::::::
:::::::

:::::::::::: {.gd__i .section .full-width .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
::::::::::: {.section .gd__s}
:::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
::::::::: {.gd__c style="--cols:12"}
:::::::: {.gd__i .faqlist .bg-midnight-100 .v-align--centre .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
How does Phone Validation work, are the numbers checked against a
database?

::: content
The Phone Validation service uses a three-step process to confirm
whether phone numbers are valid or not, using Loqate\'s own custom
libraries alongside the Home Location Register (HLR) database. See
the [Phone Validation details
page](https://www.loqate.com/en-gb/phone-validation/product-detail/){.external-link
rel="noopener" target="_blank"} for more information about the various
steps involved in this process.
:::

Can Phone Validation check all types of phone number?

::: content
Yes, you can use Phone Validation to validate mobile, landline and VoIP
numbers, for both business and personal uses.
:::

Does Phone Validation work internationally?

::: content
Yes, you can use Phone Validation to check phone numbers for 237
countries and territories globally.
:::

What types of information are returned in the Phone Validation results?

::: content
Phone Validation requests return a range of information - please see the
\'Response fields\' section of the [Phone Validation API
documentation](https://www.loqate.com/developers/api/PhoneNumberValidation/Interactive/Validate/2.2/){.external-link
rel="noopener" target="_blank"} for full details.
:::

Can Phone Validation be integrated into an application?

::: content
Yes, you can integrate Phone Validation in a variety of ways, so you can
make use of it anywhere you need: on websites, in your apps, EPOS, CRM
and business systems. You can find out more about how to integrate
Loqate services on the [Ways to Integrate
page](https://www.loqate.com/developers/getting-started/ways-to-integrate/){.external-link
rel="noopener" target="_blank"}.
:::
::::::::
:::::::::
::::::::::
:::::::::::
::::::::::::

::::::::::::::::: {.gd__i .section .full-width .ptop--64 .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
:::::::::::::::: {.section .gd__s}
::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::::::::::::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c10 style="--cspan:10;--rspan:1;--cstart:auto;"}
### Get started

Phone Validation is super simple to set up and we\'ve created these
step-by-step guides to help you get up and running as quickly as
possible.
:::

::::::: {.gd__i .tile .c4 style="--cspan:4;--rspan:1;--cstart:auto;"}
:::::: {.tile-item .tile-item--haslink .tile-item--hascta .bg-midnight-100 .tile-item--w-arrow style="--b:var(--cl-midnight-200);"}
[](/developers/guides/quick/){.tile-item__link
aria-label="Quick setup guide - Phone Validation"} ![Quick setup guide -
Phone
Validation](/media/kxqpoofe/guide-book-report.svg?rnd=133277664040230000){loading="lazy"}

::::: tile__content
<div>

::: h--xs
Quick setup guide - Phone Validation
:::

Our most simple and quick setup method. No need for coding knowledge.
The quick setup guide will walk you through the process step-by-step.

</div>

[View guide](/developers/guides/quick/){.cta .cta--secondary .cta--small
.cta--r-arrow}
:::::
::::::
:::::::

::::::: {.gd__i .tile .c4 style="--cspan:4;--rspan:1;--cstart:auto;"}
:::::: {.tile-item .tile-item--haslink .tile-item--hascta .bg-midnight-100 .tile-item--w-arrow style="--b:var(--cl-midnight-200);"}
[](/developers/guides/quick/){.tile-item__link
aria-label="Quick setup guide - Address, Email and Phone Validation"}
![Quick setup guide - Address, Email and Phone
Validation](/media/kxqpoofe/guide-book-report.svg?rnd=133277664040230000){loading="lazy"}

::::: tile__content
<div>

::: h--xs
Quick setup guide - Address, Email and Phone Validation
:::

Looking for Address, Email and Phone Validation? This easy guide helps
you set up all three within minutes.

</div>

[View guide](/developers/guides/quick/){.cta .cta--secondary .cta--small
.cta--r-arrow}
:::::
::::::
:::::::
::::::::::::::
:::::::::::::::
::::::::::::::::
:::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
