:::::::::::::::::::::::::::: {#mainBodyContent role="main" tabindex="-1"}
::::::::::::::::::::::::::: gd
:::::::::::::::::::::::::: {.gd__c style="--cols:12"}
::::::::::::::::::::::::: {.gd__i .section .ptop--96 .c12 style=" --cspan:12; --rspan:1; --cstart:1;"}
:::::::::::::::::::::::: {.section .gd__s}
::::::::::::::::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::::::::::::::::::::: {.gd__c style="--cols:12"}
::: {.gd__i .section .c3 .t-hide style=" --cspan:3; --rspan:1; --cstart:auto;"}
- [Loqate Basics](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Start Here](/developers/getting-started/)
  - [Ways To Integrate](/developers/getting-started/ways-to-integrate/)
  - [Creating API Keys](/developers/getting-started/creating-api-keys/)
  - [List Of Endpoints](/developers/getting-started/list-of-endpoints/)
  - [API Security](/developers/getting-started/api-security/)
  - [Monitoring Account
    Usage](/developers/getting-started/monitoring-account-usage/)
  :::
- [Product support](#){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/address-capture/)
  - [Address Verify](/developers/address-verify/)
  - [Store Finder](/developers/store-finder/)
  - [Email Validation](/developers/email-validation/)
  - [Phone Validation](/developers/phone-verification/)
  - [Bank Validation](/developers/bank-verification/)
  - [Geocode](/developers/geocode/)
  - [Matchcode (legacy)](/developers/matchcode/)
  :::
- [Guides](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: {.dd .nav__side-menu}
  - [Address, Email and Phone Validation](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Quick setup guide -- Address, Email and Phone
      Validation](/developers/guides/quick/)
    - [Advanced Setup Guide](/developers/guides/advanced-setup-guide/)
    - [Address Capture Integration Best
      Practice](/developers/guides/address-capture-integration-best-practice/)
    - [Enabling new Capture
      features](/developers/guides/enabling-new-capture-features/)
    - [SaaS Platform: Setting up a new
      service](/developers/guides/saas-platform-setting-up/)
    - [SaaS Platform: Integration
      options](/developers/guides/saas-platform-integration-options/)
    - [SaaS Platform: SDK](/developers/guides/saas-platform-sdk/)
    - [The Loqate Saas
      Platform](/developers/guides/the-loqate-saas-platform/)
    :::
  - [Data Maintenance](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Data Maintenance - Post
      Processing](/developers/guides/data-maintenance-post-processing/)
    :::
  - [Data Sets](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Consuming Premium Data
      Sets](/developers/guides/consuming-premium-data-sets/)
    - [Property Intelligence User
      Guide](/developers/guides/property-intelligence-user-guide/)
    - [Property Intelligence Data
      Directory](/developers/guides/property-intelligence-data-directory/)
    :::
  - [Integrations by platform](#){aria-expanded="false"
    toggle="dropdown" role="button"}

    ::: dd
    - [Adobe Commerce
      (Magento)](/developers/guides/adobe-commerce-magento-integration-guide/)
    - [BigCommerce](/developers/guides/bigcommerce/)
    - [commercetools](/developers/guides/commercetools-integration/)
    - [Microsoft Dynamics
      365](/developers/guides/loqate-for-microsoft-dynamics-365/)
    - [Shopify
      Plus](/developers/guides/the-loqate-shopify-integration-guide/)
    - [Shopware
      6](/developers/guides/loqate-plugin-for-shopware-6-configuration-guide/)
    :::
  - [Store Finder](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [How Does a Store Finder
      Work?](/developers/guides/how-does-a-store-finder-work/)
    - [Creating and Managing Location
      Lists](/developers/guides/creating-and-managing-location-lists/)
    - [How To Implement a Store
      Finder](/developers/guides/how-to-implement-a-store-finder/)
    - [Setting Up Store Finder
      Keys](/developers/guides/setting-up-store-finder-keys/)
    :::
  - [Utilities Register](#){aria-expanded="false" toggle="dropdown"
    role="button"}

    ::: dd
    - [Loqate Utilities Register
      2.0](/developers/guides/loqate-utilities-register/)
    :::
  :::
- [APIs](/developers/api/){aria-expanded="false" toggle="dropdown"
  role="button"}

  ::: dd
  - [Address Capture](/developers/api/capture/)
  - [Address Verify](/developers/api/cleanseplus/)
  - [Store Finder](/developers/apis/location-services/)
  - [Email Validation](/developers/api/emailvalidation/)
  - [Phone Validation](/developers/api/phonenumbervalidation/)
  - [Bank Validation](/developers/api/bankaccountvalidation/)
  - [Geocode](/developers/api/distancesanddirections/)
  - [Generic Errors](/developers/api/generic-errors/)
  :::
- [Sandbox](/developers/sandbox/)
- [FAQs](#){aria-expanded="false" toggle="dropdown" role="button"}

  ::: dd
  - [Address Capture](/developers/faqs/Address-Capture)
  - [Address Verification](/developers/faqs/Address-Verification)
  - [Bank Account
    Verification](/developers/faqs/Bank-Account-Verification)
  - [Common account errors](/developers/faqs/Common-account-errors)
  - [Data Maintenance Annual
    Subscription](/developers/faqs/Data-Maintenance-Annual-Subscription)
  - [Email Verification](/developers/faqs/Email-Verification)
  - [General](/developers/faqs/General)
  - [Geocoding](/developers/faqs/Geocoding)
  - [Geolocation](/developers/faqs/Geolocation)
  - [Phone Verification](/developers/faqs/Phone-Verification)
  - [Technical](/developers/faqs/Technical)
  :::
:::

:::::::::::::::::::: {.gd__i .section .c9 style=" --cspan:9; --rspan:1; --cstart:auto;"}
::::::::::::::::::: gd
:::::::::::::::::: {.gd__c style="--cols:12"}
::::::: {.gd__i .section .gd--cen .pbtm--64 .c12 style="--cspan:12;--rspan:1;--cstart:1;"}
:::::: {.section .gd__s}
::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
:::: {.gd__c style="--cols:12"}
::: {.gd__i .rte .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
# Address Verification
:::
::::
:::::
::::::
:::::::

:::::::::::: {.gd__i .section .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
::::::::::: {.section .gd__s}
:::::::::: {.gd__a style="--cols: 12;--cspan: 12; --rspan: 1;"}
::::::::: {.gd__c style="--cols:12"}
:::::::: {.gd__i .faqlist .bg-midnight-100 .c12 style="--cspan:12;--rspan:1;--cstart:auto;"}
How can Address Verify help me understand if an address is good or not?

::: content
Every time Address Verify returns a valid result, it produces an AVC -
an Address Verification Code. This codes provides you with various
pieces of information, including (but not limited to):

- To what level of granularity the address could be verified (i.e.
  broadly to Administrative Area or Locality, or more closely to
  Thoroughfare, Premise or Delivery Point)
- How well the input data has been able to be parsed (i.e. whether it
  was possible to split the provided address into its component parts)
- How accurately the postal code was able to be verified
- A \'Matchscore\', which indicates how much the provided address has
  changed during the verification process

NOTE: you can read more about the AVC in our [Address Verification Code
documentation](https://support.loqate.com/documentation/reportcodes/address-verification-code/){.external-link
rel="noopener" target="_blank"}. It\'s also worth knowing being aware
that the data for different countries can be verified to varying levels
of granularity (i.e. some countries can be validated all the way down to
Delivery Point, while others might only be validated to a broad
Administrative Area level). You can find out more about this on
our [Country Data Coverage
page](https://support.loqate.com/coverage-full/){.external-link
rel="noopener" target="_blank"}.

The information provided by the AVC therefore helps you to understand
the quality of address, and inform your decision making when considering
how to use that address.
:::

How do Address Capture and Address Verify work together? Why use one
when you have the other?

::: content
The Address Capture and Address Verify products offer different routes
to the same end result - a fully verified address - but they can also be
used in tandem. A great example of this is in the use case of an online
customer journey, such as in the ecommerce or gaming industries, where
implementing both Capture and Verify ensures all addresses are valid
whether they\'re searched for or manually input.

In this example, here\'s how the two products would interact on a
delivery address form:

- If a customer chooses their address from the type-ahead selection in
  the address field, you know that the address will be valid as it was
  selected from a list of verified addresses provided by Capture
- If a customer edits an address provided by Capture, or manually enters
  an address, Verify then processes that address and matches it against
  our reference data to provide a cleaned-up record
  - Using the AVC provided in the Verify response (see above) you can
    make a decision about what to do next, i.e. accept the verified
    address, or revert to the manually inputted address

If you currently use only Capture or Verify but are interested in
understanding more about how they can help your business together,
please get in touch with your account manager or the [Loqate support
team](https://www.loqate.com/en-gb/contact/customer-support/#form){.external-link
anchor="#form" rel="noopener" target="_blank"}.
:::

Address Verify cloud vs on-premise deployments, which is right for me?

::: content
There are two main ways in which you can use Address Verify:

- As an on-premise installation
- Hosted in the public cloud

Which option you choose depends on your specific needs. We\'ll go
through each of them here\...

**On-premise**

Verify is available as an on-premise install for Windows, UNIX, and
Linux, running on a modern Kubernetes deployment. This option allows you
to fully host the Verify API and data within your environment, with no
part of the address verification process requiring the internet. 

If you have the business need to keep you and your customers' data
within your own environment, then an on-premise installation may be the
right option. This is a popular option with fintech and Big Data
businesses, government agencies, and industries where the highest level
of data privacy is required.

**Public cloud**

Hosted and maintained by Loqate, and accessed via a REST API, the public
cloud version of Verify is always updated with the latest data, giving
you the most up to date results.

Accessing Verify this way allows you to focus on address verification
results, taking the stress out of updating, hosting, optimizing, and
maintaining the infrastructure needed to handle a Verify deployment. We
provide monthly updates for our data and API, giving you the ability to
cleanse your address data, worldwide, using one simple endpoint. 

If you don\'t require an on-premise installation, a Public cloud
installation is likely to be the most suitable option. 

NOTE: For customers with very specific, specialised requirements, we
also offer a private cloud option where we host your own instance of the
Verify API and data. Your account manager can provide details on
this option if required. 
:::

Which fields should I pass my address into to ensure the best match
rate?

::: content
Address Verify can accept address details entered in a variety of
different ways, while still being able to return accurate results. The
best fields to use in the input will largely depend on the address
information you have available, but we most often see address data
formatted in two ways:

- **The complete address in a single field: **in this case, you can pass
  the whole address in the Address1 field
- **Address data divided into multiple fields:** in this instance you
  may have** **some specific data (such as city and postal code) which
  can be passed in specific fields, and some that contains mixed
  information (house/building number plus street, etc.) which can be
  passed together to be parsed, matched, corrected, standardised and
  formatted

Either method will return good results, and testing different methods
with your own data will help to optimise your results, however we
recommend the second method as the best option.

You can find example calls in the [Verify API
documentation](https://www.loqate.com/developers/apis/cleanse-api/international-batch-cleanse/){.external-link
rel="noopener" target="_blank"}, which demonstrate how data can be
structured for input.
:::

Should I use the AVC or AQI?

::: content
Alongside the Address Verification Code, or AVC (see \'How can Address
Verify help me understand if an address is good or not?\' answer),
Address Verify also returns a code called the Address Quality Index
(AQI), and at face value it can look as though both of these codes
provide the same information. There are, however, notable differences
between the AVC and the AQI, and the information they provide. Here are
some quick descriptions of the two codes and what they\'re intended to
be used for:

- **AVC:** a proprietary response code which includes information
  associated with the parsing and matching of the address record. You
  can use this to identify the level to which an address has been
  verified.
- **AQI:** a pre-defined, simplified code which provides a high-level
  view of the quality of an address. This is intended to offer a view of
  overall address quality, but not to be used as a metric for deciding
  whether to accept an address which has been processed via Verify.

You can find descriptions of both codes
at [https://support.loqate.com/documentation/reportcodes/](https://support.loqate.com/documentation/reportcodes/){.external-link
rel="noopener" target="_blank"}.

When you want to decide what action to take after receiving a response
from Verify, the best approach is usually to understand the following
points in combination:

- The level to which an address has been validated
- How much the inputted address had to be manipulated in order to
  convert it into the outputted address

Bearing that in mind, in most cases we recommend using the AVC as this
gives you all of that required information.
:::
::::::::
:::::::::
::::::::::
:::::::::::
::::::::::::
::::::::::::::::::
:::::::::::::::::::
::::::::::::::::::::
::::::::::::::::::::::
:::::::::::::::::::::::
::::::::::::::::::::::::
:::::::::::::::::::::::::
::::::::::::::::::::::::::
:::::::::::::::::::::::::::
::::::::::::::::::::::::::::
